@font-face {
    font-family: NormalFont;
    src: url(Poppins-Regular.ttf);
  }

.homewindow{
    font-family: NormalFont;
    display:grid;
    background: url(/static/color.JPG/);
    grid-template-rows: .2fr .4fr .4fr;
    border-radius: 10px;
    height:82vh;
    width:80vw;
}

#pizzaimage{
    width:50px;
    height:50px;
}

.display{
    display:grid;
    justify-content: center;
}

.navbar{
    font-family: NormalFont;
    display:grid;
    width:80vw;
    grid-template-columns: 1fr 1fr;
}

.leftside{
    display: grid;
    grid-template-columns: .07fr .2fr;
}

.rightside{
    display: grid;
    justify-content: end;
    grid-template-columns: .1fr .1fr .07fr;
}

#bold{
    font-weight: bold;
}

.deliveryortakeout{
    display:grid;
    grid-template-columns: .35fr .65fr;
}

.menuandrewards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.buttons{
    display:grid;
}

.choices{
    display:grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: .45fr .1fr .45fr;
}

button{
    background-color: gray;
    color:black;
    border-radius: 10px;
    height:80%;
    width:90%;
    border-style: none;
    font-size: 30px;
    font-family: NormalFont;
}

h1{
    display:grid;
    font-size: 70px;
    align-content: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    color:rgb(53, 53, 53);
}

#pizza{
    font-size: 60px;
    padding-left: 10%;
    padding-right: 10%;
    color:rgb(53, 53, 53);
    margin-bottom: 0;
}

#experience{
    margin-top: 0;
    font-size: 40px;
    padding-left: 20%;
    padding-right: 10%;
    color:rgb(53, 53, 53);
}

.prices{
    width:100%;
    height:90%;
}

.pizzaprices{
    display:grid;
    justify-content: center;
}

.choices p{
    display: grid;
    justify-content: center;
    font-size: 50px;
}

.navbar p{
    font-size: 18px;
}

form{
    display:grid;
    align-items: center;
    justify-items: center;
    height:100%;
    width:100%;
}

a{ 
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .fade{
    transition: background-color .75s;
}

    .fade:hover {
        background-color: white;
    }

    .fade:focus,
    .fade:active {
        background-color: white;
        transition: none;
    }