.homewindow{
    display: grid;
    grid-template-rows: .1fr .2fr 3fr .2fr 1fr 1fr .5fr;
    background: url(/static/color.JPG/);
    border-radius: 10px;
    height: 85vh;
    width: 30vw;
}

#pizzaimage{
    width:50px;
    height:50px;
}

.display{
    display:grid;
    justify-content: center;
    justify-items: center;
}

.navbar{
    display:grid;
    width:80vw;
    grid-template-columns: 1fr 1fr;
}

.leftside{
    display: grid;
    grid-template-columns: .07fr .2fr;
}

.rightside{
    display: grid;
    justify-content: end;
    grid-template-columns: .1fr .1fr .07fr;
}

#bold{
    font-weight: bold;
}

.hr hr{
    width:90%;
}

.or{
    display:grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: .45fr .1fr .45fr;
}

.left hr,.right hr{
    width:95%;
}

.or p{
    padding:0;
    margin:0;
}

#loginform{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
}

button,input{
    width:90%;
}

#login,#loginform,.create,.forgot,.terms{
    display:grid;
    justify-items: center;
    align-items: center;
}

#loginform > input{
    height:80%;
}

.create > button,.forgot > button,.terms > a{
    height:80%;
}

.forminput{
    border:none;
    border-radius: 10px;
    background: url(/static/forminputcolor.JPG/);
}

#submit{
    background-color: black;
    color:white;
}

.create button,.forgot button{
    background-color: white;
    color:black;
}

button,input{
    border:none;
    border-radius: 10px;
}

#forminput::placeholder{
    padding-left: 10px;
}