@font-face {
    font-family: NormalFont;
    src: url(Poppins-Regular.ttf);
  }

.homewindow{
    font-family: NormalFont;
    display:grid;
    background: url(/static/color.JPG/);
    grid-template-rows: .1fr .2fr 3fr .2fr 1fr 1fr .5fr;
    border-radius: 10px;
    height: 85vh;
    width: 30vw;
}

#pizzaimage{
    width:50px;
    height:50px;
}

.display{
    display:grid;
    justify-content: center;
    justify-items: center;
}

.navbar{
    font-family: NormalFont;
    display:grid;
    width:80vw;
    grid-template-columns: 1fr 1fr;
}

.leftside{
    display: grid;
    grid-template-columns: .07fr .2fr;
}

.rightside{
    display: grid;
    justify-content: end;
    grid-template-columns: .1fr .1fr .07fr;
}

#bold{
    font-weight: bold;
}

.hr hr{
    width:90%;
}

.or{
    display:grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: .45fr .1fr .45fr;
}

.left hr,.right hr{
    width:95%;
}

.or p{
    padding:0;
    margin:0;
}

#loginform{
    display:grid;
    grid-template-rows: 1fr 1fr .01fr 1fr;
}

button,input{
    width:90%;
    font-family: NormalFont;
    font-size: 20px;
}

#login,#loginform,.create,.forgot,.terms{
    display:grid;
    justify-items: center;
    align-items: center;
}

#loginform > input{
    height:80%;
}

.create > button,.forgot > button,.terms > a{
    height:80%;
}

.forminput{
    border:none;
    border-radius: 10px;
    background: url(/static/forminputcolor.JPG/);
}

#submit{
    background-color: black;
    color:white;
}

.create button,.forgot button{
    background-color: white;
    color:black;
}

button,input{
    border:none;
    border-radius: 10px;
}

a{ 
    text-decoration: none;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.fade{
    transition: background-color .75s;
    }
    
    .fade:hover {
    background-color: gray;
    }
    
    .fade:focus,
    .fade:active {
    background-color: gray;
    transition: none;
    }

#loginform p{
    margin:0;
    color:red;
}