.homewindow{
    display:grid;
    background: url("/static/color.JPG/");
    grid-template-rows: .2fr .8fr;
    border-radius: 10px;
    height:85vh;
    width:80vw;
}

#pizzaimage{
    width:50px;
    height:50px;
}

.display{
    display:grid;
    justify-content: center;
}

.navbar{
    display:grid;
    width:80vw;
    grid-template-columns: 1fr 1fr;
}

.leftside{
    display: grid;
    grid-template-columns: .07fr .2fr;
}

.rightside{
    display: grid;
    justify-content: end;
    grid-template-columns: .1fr .1fr .07fr;
}

#bold{
    font-weight: bold;
}

button{
    background-color: gray;
    color:black;
    border-radius: 10px;
    height:80%;
    width:90%;
    border-style: solid;
    font-size: 30px;
}

.navbar p{
    font-size: 18px;
}

form{
    display:grid;
    align-items: center;
    justify-items: center;
    height:100%;
    width:100%;
}

a{ 
    text-decoration: none;
}

.topsection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.bottomsection{
    display: grid;
    grid-template-columns: .8fr .2fr;
}

.items{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}