<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'createaccount.css' %}">
</head>
<div class="display">
    <div class="navbar">
        <div class="leftside">
            <a href="{% url 'index' %}"><img id="pizzaimage" src="{% static 'pizzaicon.jpg' %}"></img></a>
            <p>{{welcome}}</p>
        </div>
        <div class="rightside">
            <p><a class="hover-underline-animation" id="bold" href="{% url 'rewards' %}">Rewards</a></p>
            <p><a class="hover-underline-animation" id="bold" href="{% url 'order' %}">Menu</a></p>
            <p><a class="hover-underline-animation" href="{% url 'login' %}">{{loginstate}}</a></p>
        </div>
    </div>
    <div class="homewindow">
        <h1 id="login">Create an account</h1>
        <div class="hr"><hr></div>
        <form id="loginform">
            <input id="forminput" type="text" placeholder="Username"></input>
            <input id="forminput" type="password" placeholder="Password"></input>
            <input id="forminput" type="password" placeholder="Confirm Password"></input>
            <input id="forminput" type="birthday" placeholder="Birthday"></input>
            <input id="forminput" type="email" placeholder="Email"></input>
            <p>error text</p>
            <input id="submit" type="submit" value="Create Account"></input>
        </form>
        
        <div class="or">
            <div class="left"><hr id="left"></div>
            <p>or</p>
            <div class="right"><hr id="right"></div>
        </div>
        <form class="create" action="{% url 'login' %}"><button class="fade">Log In</button></form>
        <form class="forgot" action="{% url 'forgotpassword' %}"><button class="fade">Forgot Password?</button></form>
        <div class="terms"><a class="hover-underline-animation" href="{% url 'termsandconditions' %}" style="height:20px;">Terms and Conditions</a></div>
    </div>
</div>
</html>