<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <div class="display">
        <div class="navbar">
            <div class="leftside">
                <a href="{% url 'index' %}"><img id="pizzaimage" src="{% static 'pizzaicon.jpg' %}"></img></a>
                <p>{{welcome}}</p>
            </div>
            <div class="rightside">
                <p><a class="hover-underline-animation" id="bold" href="{% url 'rewards' %}">Rewards</a></p>
                <p><a class="hover-underline-animation" id="bold" href="{% url 'order' %}">Menu</a></p>
                <p><a class="hover-underline-animation" href="{% url 'login' %}">{{loginstate}}</a></p>
            </div>
        </div>
        <div class="homewindow">
            <div class="deliveryortakeout">
                <div class="createpizza">
                    <h2 id="pizza">Create a Pizza</h2>
                    <h2 id="experience">Create an experience</h2>
                </div>
                <div class="choices">
                    <form action="{% url 'order' %}">
                        <button class="fade" type="submit">Delivery</button>
                    </form>
                    <p>or</p>
                    <form action="{% url 'order' %}">
                        <button class="fade" type="submit">Take Out</button>
                    </form>
                </div>
            </div>
            <div class="pizzaprices">
                <img id="prices" src="{% static 'pizzaprices.jpg' %}"></img>
            </div>
            <div class="menuandrewards">
                <h1>Take a PEEK at our sides</h1>
                <div class="buttons">
                    <form action="{% url 'order' %}">
                        <button class="fade" type="submit">Menu</button>
                    </form>
                    <form action="{% url 'rewards' %}">
                        <button class="fade" type="submit">Rewards</button>
                    </form>
                </div>
                <h1>Join our Rewards Program</h1>
            </div>
        </div>
    </div>
</body>
</html>