<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'food.css' %}">
</head>
<body>
    <div class="display">
        <div class="navbar">
            <div class="leftside">
                <a href="{% url 'index' %}"><img id="pizzaimage" src="{% static 'pizzaicon.jpg' %}"></img></a>
                <p>{{welcome}}</p>
            </div>
            <div class="rightside">
                <p><a class="hover-underline-animation" id="bold" href="{% url 'rewards' %}">Rewards</a></p>
                <p><a class="hover-underline-animation" id="bold" href="{% url 'order' %}">Menu</a></p>
                <p><a class="hover-underline-animation" href="{% url 'login' %}">{{loginstate}}</a></p>
            </div>
        </div>
        <div class="homewindow">
            <div class="topsection">
                <form action="{% url 'order' %}">
                    <button class="fade" type="submit">Delivery</button>
                </form>
                <p>or</p>
                <form action="{% url 'order' %}">
                    <button class="fade" type="submit">Take Out</button>
                </form>
            </div>
            <div class="bottomsection">
                <div class="items">
                    <form action="{% url 'order' %}">
                        <button class="fade" type="submit">Create your Own</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <img src="{% static 'pizzaimages/cheesepizza.jpg' %}"></img>
                        <button class="fade" name="cheese" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Pepperoni</h2>
                        <button class="fade" name="pepperoni" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Sausage</h2>
                        <button class="fade" name="sausage" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Meat Lovers</h2>
                        <button class="fade" name="meatlovers" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Supreme</h2>
                        <button class="fade" name="supreme" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Hawaiian</h2>
                        <button class="fade" name="hawaiian" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Veggie</h2>
                        <button class="fade" name="veggie" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <center><h2>Ultimate Pepperoni</h2></center>
                        <button class="fade" name="ultimatepepperoni" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <center><h2>Philly Cheese Steak</h2></center>
                        <button class="fade" name="phillycheesesteak" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Cheesy Alfredo</h2>
                        <button class="fade" name="cheesyalfredo" type="submit">Order Item</button>
                    </form>
                    <form action="{% url 'order' %}">
                        <h2>Chicken BBQ</h2>
                        <button class="fade" name="chickenbbq" type="submit">Order Item</button>
                    </form>
                </div>
                <div class="order">
                    <p>Order Type:</p>
                    <p>pizza</p>
                    <p>Subtotal:</p>
                    <p>Tax:</p>
                    <p>Discount:</p>
                    <p>Total:</p>
                </div>
            </div>
                
        </div>
    </div>
</body>
</html>